<%= form_tag students_path do %>
  <label>Student Form</label><br>
  <label>First Name:</label><br>
  <%= text_field_tag :'first_name[name]' %><br>

  <label>Last Name:</label><br>
  <%= text_area_tag :'last_name[name]' %><br>

  <%= submit_tag "Submit Post" %>
<% end %>
